.container-index{
    display: flex;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    border: solid grey;
    text-align: center;
    
}

.container-index h3{
    padding-bottom: 10px;
}

.size-style{
    overflow-wrap: break-word;
}

.date-style{
    float: right;
    padding-top: 50px;
}
.post-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dash-prof{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p-3{
    margin: auto;
}
.wrt_post{
    justify-content: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 125px;
}
.btn-publish{
    justify-content: center;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 170px;
}
.post-opt {
    text-decoration: none;
    float: left;
    padding-right: 10px;
    padding-top: 50px;
    
}
.post-opt:hover{
    text-decoration: none;
    color: black;
}
.p-edit{
    color: rgb(33, 189, 33);
}
.p-del{
    color: red;
}
.read-all-post{
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
    color: rgb(8, 91, 168);
}
.re-back{
    text-decoration: none;
    float: left;
    margin-top: 100px;
    color: rgb(8, 91, 168);
}
.re-back:hover{
    text-decoration: none;
}
.user-read-all{
    padding-top: 100px;
    justify-content: space-evenly;
    display: flex;
}
.post-comt{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    border: solid rgb(54, 53, 53);
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(190, 185, 185);
    color: black;
    font-size: 20px;
    margin-top: 45px;
    position: absolute;
    display: inline-flex;
    
}
.post-comt:hover{
    text-decoration: none;
    color: rgb(62, 62, 160);
}
.comment-style{
    border: solid rgb(167, 156, 156);
    margin-bottom: 10px;
    margin-left: 500px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 10px;
    width: 40%;
    overflow-wrap: break-word;
    box-shadow: 4px 3px 3px grey;
    
}
.author-comm{
    font-size: 20px;
    font-weight: 500;
}
.cont-txt{
    padding-top: 10px;
}
.create-date{
    color: rgb(156, 154, 154);
}
.btn-comt{
    margin-top: 15px;
    border-radius: 20px;
    justify-content: center;
}
.btn-comm-del{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(187, 73, 73);
    border-radius: 20px;
    border: solid black 1px
    
}
.pag-cont{
    margin-left: 1040px;
    margin-top: 30px;
}
.pl-4, .px-4{
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 500;
}
.pl-4, .px-4:hover{
    text-decoration: none;
}
.bg-white{
    background-color:  rgb(190, 185, 185)!important;
}
.insert-img{
    margin-top: 10px;
    border-radius: 4px;
}
.img-style{
    margin-top: 10px;
    
}
