.container-index{
    display: flex;
    margin-bottom: 20px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    border: solid grey;
    text-align: center;
    
}

.container-index h3{
    padding-bottom: 10px;
}

.size-style{
    overflow-wrap: break-word;
}

.date-style{
    float: right;
    padding-top: 50px;
}
.post-title{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.dash-prof{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.p-3{
    margin: auto;
}
.wrt_post{
    justify-content: center;
    font-size: 30px;
    padding-bottom: 20px;
    padding-left: 125px;
}
.btn-publish{
    justify-content: center;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 170px;
}
.post-opt {
    text-decoration: none;
    float: left;
    padding-right: 10px;
    padding-top: 50px;
    
}
.post-opt:hover{
    text-decoration: none;
    color: black;
}
.p-edit{
    color: rgb(33, 189, 33);
}
.p-del{
    color: red;
}
.read-all-post{
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
    color: rgb(8, 91, 168);
}
.re-back{
    text-decoration: none;
    float: left;
    margin-top: 100px;
    color: rgb(8, 91, 168);
}
.re-back:hover{
    text-decoration: none;
}
.user-read-all{
    padding-top: 100px;
    justify-content: space-evenly;
    display: flex;
}
.post-comt{
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 10px;
    color: black;
    font-size: 23px;
    margin-top: 45px;
    position: absolute;
    display: inline-flex;
    
}
.post-comt:hover{
    text-decoration: none;
}
.post-comt:hover:after{
    width: 100%; 
    left: 0; 
}
.post-comt:after{
    background: none repeat scroll 0 0 transparent;
    bottom: 1;
    content: "";
    display: block;
    height: 2px;
    left: 0%;
    position: absolute;
    background: rgb(62, 62, 160);
    transition: width 0.2s ease 0s, left 0.3s ease 0s;
    width: 0;
    margin-top: 23px;
}
.comment-style{
    border: solid rgb(167, 156, 156);
    margin-bottom: 10px;
    margin-left: 500px;
    margin-top: 20px;
    padding-left: 15px;
    padding-top: 10px;
    width: 40%;
    overflow-wrap: break-word;
    box-shadow: 4px 3px 3px grey;
    
}
.author-comm{
    font-size: 20px;
    font-weight: 500;
}
.cont-txt{
    padding-top: 10px;
}
.create-date{
    color: rgb(156, 154, 154);
}
.btn-comt{
    margin-top: 15px;
    border-radius: 20px;
    justify-content: center;
}
.btn-comm-del{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(187, 73, 73);
    border-radius: 20px;
    border: solid black 1px
    
}
.pag-cont{
    margin-left: 1040px;
    margin-top: 30px;
}
.pl-4, .px-4{
    border-radius: 5px;
    margin-left: 5px;
    font-weight: 500;
}
.pl-4, .px-4:hover{
    text-decoration: none;
}
.bg-white{
    background-color:  rgb(190, 185, 185)!important;
}
.insert-img{
    margin-top: 10px;
    border-radius: 4px;
}
.img-style{
    margin-top: 10px;
}
img{
    width: 70%;
    margin-bottom: 30px;
}
.nav-link-admin {
    color: rgb(35, 175, 240);
}


.sidebar{
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgb(94, 177, 245);
    z-index: 100;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}
.sidebar-menu a{
    display: block;
    font-size: 1.2rem;
    padding-left: 1rem;
}
.sidebar-menu ul{
    list-style: none;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
    color: black;
}
.sidebar-menu a.active{
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(94, 177, 245);
    border-radius: 30px 0px 0px 30px;
}
.main-content{
    margin-left: 345px;
}
.admin-head{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    position: fixed;
    left: 345px;
    width: calc(100% - 345px);
    top: 0;
    z-index: 100;
}
.admin-head h2{
    color: #222;
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.user-wrapper h4{
    margin-bottom: 0rem !important;

}
main{
    margin-top: 80px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 2px;

}
.card-single span:first-child{
    font-size: 2rem;
}
.card-single span:last-child{
    color: grey;
}
.view-b{
    border: solid 1px;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
    background: rgb(0, 162, 255);
    color: black;
}
.view-b:hover{
    text-decoration: none;
}
.edit-b:hover{
    text-decoration: none;
}
.del-b:hover{
    text-decoration: none;
}
.edit-b{
    border: solid 1px;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
    background: orange;
    color: black;
}
.del-b{
    border: solid 1px;
    border-radius: 6px;
    padding: 5px;
    text-decoration: none;
    background: rgb(226, 11, 11);
    color: black;
}
.form-size{
    width: 40%;
}
.custom-select{
    margin-bottom: 10px;
}
@media only screen and (max-width: 768px){
    .container-index{
        display: flex;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 10px;
        border: solid grey;
        text-align: center;
        
    }
}
@media only screen and (max-width: 1600px){
    .container-index{
        display: flex;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 10px;
        border: solid grey;
        text-align: center;
        
    }
}
@media only screen and (max-width: 540px){
    .container-index{
        display: flex;
        margin-bottom: 20px;
        margin-left: 10px;
        margin-right: 10px;
        border-radius: 10px;
        border: solid grey;
        text-align: center;
        
    }
    .post-comt{
        text-decoration: none;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        padding-right: 10px;
        color: black;
        font-size: 20px;
        margin-top: 45px;
        position: absolute;
        display: inline-flex;
        
    }
    
    img{
        width: 200px;
    }
    .date-style{
        padding-left: 40px;
        display: block;
        margin-top: 15px;
    }
    .p-edit{
        color: rgb(33, 189, 33);
        font-size: 14px;
        margin-top: 15px;
    }
    .p-del{
        color: red;
        font-size: 14px;
        margin-top: 15px;
    }
    
}